
<div class="jumbotron jumboindex py-2">
    <div class="logowrap">
      <img class="img-responsive" width="130px" height="" src="<%= asset_path( 'logo.svg' ) %>">
    </div>
    <section id="cover">
    <div class="row">
    <div class="container column" id="titlepage">
    <h2> Une application qui gère AUTOMATIQUEMENT </br> la paperasse de vos proches en perte d'autonomie </h2></div>
        <div class="container column">
        <div id="cover-caption">
        <div class="formcontainer">
        <div class="titleform">
              <h1 class="display-10">Informations</h1>
              </div>
              </br> Entrez votre adresse mail pour recevoir toutes les infos concernant la sortie de l'outil d'aide administrative emma
              <div class="info-form">
                  <%= form_for @visitor, url: visitor_index_path, html: {action: :post, class: "form-signin mt-3" } do |f| %>
                      <div class="form-group">
                      <%= f.text_field :email, autocomplete: "email", placeholder: "Adresse email", class: "form-control" %>
                      </div>
                      <div class="actions mt-5">
                      <%= submit_tag "Valider", :class => 'btn btn-info btn-lg btn-block'  %>
                    </div>
                  <% end %>
            </div>
            </div>
                    </div>
                
      </div>
    </section>
  </p>
</div>