<div class="section" id="intersection">
<h1>Pour vos proches en perte d'autonomie</h1></br> 
<p class="lead text-center">
Emma vous aide à vous recentrer sur l'essentiel 
</p>
</div>


<div id="section2">


  
  
  
  
  
<div class="container" id="section1">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header text-center">
      <h1>Votre assistant administratif personnalisé</h1>
    </div>
    
    <p class="lead text-center">
      Emma est une application qui vous permet de mieux gérer la paperasse de vos proches en perte d'autonomie. Emma centralise vos demandes et les envoit AUTOMATIQUEMENT après avoir entré les données 1 SEULE fois
    </p>
    </br></br></br>
    <div class="page-header text-center">
      <h1>et plus encore...</h1>
    </div>
    <p class="lead text-center">
      Emma permet également de résoudre les problemes clients de vos proches en vous proposant des solutions qui VOUS arrangent </br> <strong>&</strong>
  </p>

  </div>
</div>
<div class="container4">
<img style='height: 100%; width: 100%; object-fit: contain' src="<%= asset_path( 'emma.png' ) %>"></div>

</div>
