/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @media screen and (min-width: 700px) {
  .column {
    width: 100%;
  }
  .container.column{
  margin-left: 60%;
  }
  #titlepage {
    margin-left:50%;
    margin-bottom: 50px;

  }
  #section2 img {
    width: 40%;
    height: auto;
  }
 }
 @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  #section2 {
    flex-direction: column-reverse;
  }
  #cover-caption {
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
  }

}
#emptycontainer {
  margin-right: 20px;
}


#titlepage {
  text-align: center;

}
.container4 {
margin-top: 5%;
}

.lead.text-center {
  margin-bottom: 0px;
}
#intersection.section{
  text-align: center;
  background-color: #f8f8f8;
  padding-top: 30px;
}

#intersection.section h1 {
  color: #9C9C9C !important;
}
#section1.container h1 {
  color: #9C9C9C !important;
}

#section2 {
  padding-top: 0px;
  background-color: #f8f8f8;
  display: flex;
}

#section1.container {
  padding-top: 10%;
  color: #CFCFCF;
}


.btn.btn-info.btn-lg.btn-block {
  border-radius: 6px;
}
.titleform {
  text-align: center;
}

.formcontainer {
  padding: 12px;
  color: grey;
}

#cover-caption {
  background-color: white;
  border-radius: 6px;
  justify-content: flex-end;
  flex-direction: column;

}


#cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 0px;
  padding-bottom: 30px;
}
 .logowrap {
   padding-top: 30px;
 }
.table {
margin-bottom: -50px;
}
#section1 {
  display: flex;
  justify-content: center;
}

 #exampleCheck1{
  color:black;
}
#smalltxt{
  color:black;
  font-size: 10px;
  text-align: justify;
}
 .jumboindex {
  background-image: image-url("jumbo.jpg");
  background-size: cover;
  color: black; 
  margin-bottom: 0px;
  background-repeat:no-repeat;
}
h1 {
  color: black;
  font-size: 35px;
}